@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');

.headline-container{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
.headline{
  font-family: 'Bebas Neue', cursive;
  font-size: 53px;
  width: 400px;
  height: 40px;
  cursor: pointer;
  display: flex;

  justify-content: center;
}
p{
  font-family: 'Red Rose', cursive;

}

h3{
  font-family: 'Red Rose', cursive;
}
h4{
  font-family: 'Red Rose', cursive;
}

.about-h1{
  font-family: 'Red Rose', cursive;

}
body {
  background-color: black;
  color: white
}
.App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
}
.dropdown {
  height: 100px;
  background-color: black;
  color: black;
}
.dropdown-container {
  display: flex;
  justify-content: center;
}
.dropdown-button{
  background-color: black;
  color: white;
  padding: 10px;
  width: 400px;
}
.dropdown-button:hover{
  color: black;
  background-color: white;
}
.sport-selector{
  display: flex;
  justify-content: space-evenly;
}
.league-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.drop-button{
  background-color: black;
  color: white;
  padding: 10px;
  border: 0;
}
.drop-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.clickable{
  cursor: pointer;
}
.error-message{
  color: white;
}
.form{
  width: 400px;
  display: flex;
  justify-content: center;
  padding-top:5px

}
.auth-button{
  width: 70px
}
.error-message{
  color: white;
}
.game-listings{
  display: flex;
  justify-content: flex-start;
}
.card-container{
  width: auto; 
  display: flex;
  flex-direction: column; 
}
.game-card{
  width: 200px;
  height: 250px;
  box-shadow: 5px 5px 5px rgb(114, 114, 114);
  border-radius: 5px;
  padding: 25px 50px 100px 50px;
  background-color: rgb(76, 76, 76);
  color: whitesmoke;
  margin: 10px 0 10px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  
}

.all-games-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.game-listings-selected{
  display: flex;
  justify-content: flex-end;
}
.filler{
  width: 20%;
}

.game-button-container{
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
  width: 140px;
  justify-content: center;
}
.game-button{
  padding: 0 10px 0 10px;
  background-color: rgb(114, 100, 114);
  color: white;
  border-radius: 75px;
}
.game-button:hover{
  background-color: maroon;
  color: white;
  cursor: pointer;
}

.game-card-container{
  width: inherit;
}
.no-games-message{
  width: 300px;

}

.user-games{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.refresh-button{
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;

}

.group-button{
  height: 50px;
}

.link{
  color: white;
}

